<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="label_title">Consultar Desejos</div>
        </div>
        <div class="right">
            <a class="nav-link" href=""><i class="bi bi-house"></i></a>
        </div>
    </div>
    <hr />
    <form [formGroup]="listForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-1"  ng-controller="ExampleController">
                <label class="label_input" for="id">Código</label>
                <dw-input aria-label="Código" autocomplete="off" id="id" name="id" type="number" ></dw-input>
            </div>

            <div class="form-group col-md-2">
                <label class="label_input" for="descricao">Descrição</label>
                <dw-input formControlName="descricao" autocomplete="off" id="descricao" name="descricao" type="text"  ngDefaultControl></dw-input>
            </div>
            <div class="form-group col-md-2">
                <label class="label_input" for="TpPpoduto">Produtos</label>
                <select class="form-control input-sm" formControlName="id_tp_produto">
                    <option value="" selected disabled hidden></option>
                    <optgroup *ngFor="let depto of departments" 
                              label= {{depto}} >
                        <ng-container *ngFor="let prod of products" >
                          <option *ngIf="prod.desc_grp_produto === depto" value={{prod.id}}>
                              {{prod.descricao}}
                          </option>
                        </ng-container> 
                    </optgroup>
                  </select>
            </div>
            <div class="form-group col-md-2">
                <label class="label_input" for="Ofertas">Ofertas</label>
                <select class="form-control" name="oferta">
                    <option value="" selected disabled hidden></option>
                    <option value="sem_oferta">Sem ofertas</option>
                    <option value="com_oferta">Com ofertas</option>
                    <option value="perdendo">Perdendo</option>
                    <option value="like">Like</option>
                    <option value="unlike">Unlike</option>
                </select>
            </div>
             <div class="form-group col-md-2">
                <label class="label_input" for="uf">UF</label>
                <select class="form-control" id="uf" name="uf">
                    <option value="" selected disabled hidden></option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label class="label_input" for="cidade">Cidade</label>
                <dw-input type="number" name="id_cidade" id="id_cidade" hidden ></dw-input>
                <dw-input type="text" name="nome_cidade" id="nome_cidade" ></dw-input>
            </div>
            <div class="form-group col-md-1">
                <div class="vertical-center">
                   <dw-button id="ConsultarBtn" type="submit" label="Consultar"> <i class="bi bi-search"></i></dw-button>
                </div>
            </div>
        </div>
    </form>
    <hr />


    <table mdbTable class="label_grid table table-striped">
        <thead  class="thead-dark">
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody *ngIf="listResult > 0">
          <tr mdbTableCol *ngFor="let el of elements">
            <th scope="row">{{el.id}}</th>
            <td><img src={{el.icone_tp_produto}}/></td>
            <td>{{el.descricao}}</td>
            <td>{{el.cidade}}</td>
            <td>{{el.desc_tp_produto}}</td>
            <td>{{el.qtd_ofertas}}</td>
            <td><span role="button" title="Incluir oferta"><i class="bi bi-clipboard-plus" (click)="openModal(el.id)"></i></span></td>
          </tr>
        </tbody>
    </table>
    <h5 *ngIf="listResult === 0">nenhum registro encontrado.</h5>
</div>
