.defaultBtn {
  background: #f2994a;
  border-radius: 5px;
  border: none;
  color: #ffff;
  outline: none;
  width: 130px;
  height: 38px;
}

.defaultBtn:hover {
  color: #ffff;
}

.secondaryBtn {
  background: #ffff;
  border-radius: 5px;
  border: 1px solid #f2994a;
  color: #f2994a;
  outline: none;
  width: 130px;
  height: 38px;
}
