.div-input-departament-code {
    width: 158px;
    padding-right: 20px;
}

.div-input-departament-description {
    width: 484px;
}

.form-departament {
    display: flex;
}

.align-form-departament {
    display: flex;
    align-items: flex-end;
}

.label-departament-input {
    color: #F2994A;
}

.div-form-departament {
    padding-bottom: 59px;
}

.div-title-departament {
    border: 1px solid #E0E0E0;
}