<div class="row body-login">
  <div class="text-left card-info">
    <h1 class="title-info">DealWish</h1>
    <p class="text-info">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores at,
      provident hic iusto ut rerum odio delectus repellat et sint inventore
      itaque nesciunt quos ea quidem quis nulla quisquam sequi!
    </p>
  </div>
  <div class="card text-center card-form">
    <div>
      <p class="title-form">Entrar</p>
    </div>
    <div>
      <form action="">
        <div class="div-input">
          <label for="">Nome</label>
          <dw-input></dw-input>
        </div>
        <div class="div-input div-password">
          <label for="">Senha</label>
          <dw-input type="password"></dw-input>
        </div>
        <dw-button></dw-button>
      </form>
    </div>
  </div>
</div>
